.signupheading{
    background-color:rgb(65, 42, 76);
    color: white;
}

.heads1top{
    margin: auto;
    text-align: left;
    margin-left: 180px;
    font-size: 54.64px;
    line-height: 60.104px;
    margin-bottom: 20px;
    color: #fff3ed;
    font-family: 
    "GT Haptik Medium", sans-serif;
    font-weight:650;
    }
    .paras1top{
    font-size: 20px;
    line-height: 30px;
    font-family: Inter, sans-serif;
    text-align: justify;
    color: #fce5d8;
    margin-left: 180px;
    padding-bottom: 10px;
    }

    .flexdiv {
        display: flex;
        margin:auto;
        padding-top: 30px;
        background-color:rgb(65, 42, 76);
        padding-bottom: 100px;
    }
    .mainBox{
        
        background-color:rgb(44,19,56);
        width: 50%;
        margin: auto;
        padding:4%;
        height:600px;
        margin-top: -60px;
        z-index: 1;
        opacity:1;
    }
    .topBox{
        width:100%;
        margin:auto;
        display:flex;
        gap:20px;
        margin-top: 5%;
    }
    .flexdiv>div:nth-child(1)
    {
        margin: auto;
        margin-left: 180px;
    }
    .flexdiv>div:nth-child(2)
    {
    margin-right: 200px;
    }
    .googleBtn{
        background-color: white;
        width:50%;
        margin-left:10px;
        margin:auto;
        color: black;
        font-size: 18px;
        justify-content: center;
        height: 50px;
        border-radius: 25px;
        display: flex;
        gap: 10px;
        text-align:center;
        padding:10px;
    }
    .googleImg{
        width:20px;
        height: 20px; 
        margin-top: 5px;
        text-justify: justify;
    }

    .h3inline {
        overflow: hidden;
        text-align: center;
        color: white;
     
    }
    .h3inline:before, .h3inline:after {
        background-color: rgb(240, 230, 230);
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 50%;
       
    }
    .h3inline:before {
        right: 0.5em;
        margin-left: -50%;
    }
    .h3inline:after {
        left: 0.5em;
        margin-right: -50%; 
    }

    .formBox > input {
        background: transparent;
        border: 2px solid rgb(171,160,175);
        height: 50px;
        width: 100%;
       margin-top: 5px;
       margin-bottom: 30px;
        padding-left: 15px;
        caret-color: #2C1338;
        font-family: 'Inter',sans-serif;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.28;
        color: #FCE5D8;
     }

     .formBox > label{
        color:white;
        font-size:15px;
        margin-right: 450px;
        /* justify-items: left; */
        margin-top: 20px;
    
     }

    .submitBtn{
        font-family: 'GT Haptik Medium',sans-serif;
        font-size: 1rem;
        padding: 14px 50px;
        background-color: #E57CD8;
        color: #FFF;
        text-align: center;
        width:100%;
        border-radius: 25px;
       
        box-sizing: border-box; 
        font-family: 'Inter',sans-serif;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.28;
        
    }
    .submitBtn:hover{
        background-color: rgba(65,42,76,255);
    }
    
    .textAftersubmit{
        color: white;
        text-align: justify;
        margin-top: 30px;
        font-size: 10px;
        padding-bottom: 20px;
      }

